<!DOCTYPE html>
<html lang="en">

<head>

    <link rel = "preconnect" href="https://fonts.googleapis.com">
    <link rel = "preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href = "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href = css/workspace.css rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workspace</title>

    <!-- Load Blockly core -->
    <script src = "https://unpkg.com/blockly/blockly_compressed.js"></script>
    <!-- Load the default blocks -->
    <script src = "https://unpkg.com/blockly/blocks_compressed.js"></script>
    <!-- Load a message file -->
    <script src = "https://unpkg.com/blockly/msg/en.js"></script>
</head>

<body>
    <div id="blocklyDiv"></div>

    <div>
        <div id="Menu" class="dropdown">
            <button id="menuButton">Menu</button>
            <div id="menuContent" class="dropdown-content">
                <button id="saveButton" onclick="alert('The position was saved!')" class="dropdown-item">Save</button>
                <button id="loadButton" onclick="alert('The position was loaded!')" class="dropdown-item">Load</button>
            </div>
        </div>
    </div>



    <!-- Load your custom script after the HTML is rendered -->
    <script src = "js/workspaceconfig/themesconfig.js"></script>
    <script src = "js/workspaceconfig/setsconfig.js"></script>
    <script src = "js/workspaceconfig/toolboxconfig.js"></script>
    <script src = "js/workspaceconfig/applyconfig.js"></script>
    <script src = "js/workspaceconfig/savebutton.js"></script>


</body>

</html>